Body{
    font-family: "Roboto","sans-serif";
    background-color:  #FFFFFF;
}
.Logo{
    font-size: 40px;
    color: black;
    margin-left: 15px;
    font-weight: 400;
}

.TopContainer{
    display: flex;
    flex-direction: row;
}

.TopContainer-Right{
    border-radius: 30px;
    background-color: #FBFBFB;
    width: 1055px;
    height: 355px;
    margin-left: 15px;
}

.AFJ{
    margin-top: 98px;
    margin-left: 15px;
    display: flex;
    background-color: #cfcfcf;
    width: 383px;
    height: 83px;
    border-radius: 30px;
}

.AFJ-Text{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color:black;
}
.AFJ-Image{
    width: 30px;
    height: 35px;
    align-self: center;
    margin-left: 30px;
    margin-right: 10px;
}
.Home{
    width: 383px;
    height: 83px;
    border-radius: 30px;
    margin-left: 15px;
    margin-top:70px;
}

.TCL-Text{
    font-weight: 400;
    font-size:36px;
}
.Home-Image{
    width: 40px;
    height: 35px;
    margin-left: 30px;
    margin-right: 10px;
    float: left;
}
.Containers{
    display: flex;
    flex-direction: column;
}

.Welcome{
    margin-left: 30px;
    font-weight:600;
}
.Sub{
    font-weight: 500;
    margin-top: 60px;
    margin-left: 30px;
    font-weight: 400;
}
.LB{
    padding-left:31px;
    padding-top:20px;
    margin-left: 15px;
    width: 383px;
    height: 475px;
    border-radius: 30px;
    background: #cfcfcf;
}
.LB-Text{
    margin-left: 10px;
}

.Profile-Image{
    float: left;
    margin-right: 10px;
}

.Apply-Image{
    margin-top: 10px;
    float: left;
    margin-right: 17px;
}

.ArrayElement{
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 230px;
    height:140px;
    border-radius: 20px;
}

.ArrayCircle{
    padding-top: 10px;
    border-radius: 50px;
    text-align: center;
    color:#FFFFFF;
    background-color: #999999;
    width:40px;
    height: 30px;
}

.ArrayText{
    font-weight: 400;
    color: #999999;
}
.TCR-Array{
    display: flex;
    flex-direction: row;
}
.Main{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}